@import '../../../../css/popper/arrow';
@import '../../../../css/config/index';
@import '../../../../css/preInherit/index';

.#{$pre}-dropdown {
  @include pre-inherit;

  position: relative;
  display: inline-block;

  .reference {
    .split-right-button {
      padding: 10px;
    }

    .arrow {
      display: inline-block;

      &.up {
        transform: rotate(-180deg);
        transform-origin: center center;
      }
    }
  }

  .#{$pre}-popper {
    display: none;
    border: 1px solid #dcdfe6;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 12px #0000001a;

    .#{$pre}-popper-content {
      width: 100%;
      max-height: 300px;
      padding: 5px 0;
      overflow: auto;
    }

    @include arrow-left-deviation();
  }
}
